:root {
  --ff-exo: "Exo", serif;
}

body {
  height: 5000px;
  overflow-x: hidden;
}
.bg-img{
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-h1 {
  font-size: 64px;
  color: #FFED00;
  font-family: var(--ff-exo);
  font-weight: 700;
}

.hero-p {
  color: #ffffff;
  font-family: var(--ff-exo);
  font-size: 22px;
}